<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>One Page Resume</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('cthulhu.css') }}">
</head>

<body>
    <div class="bg"></div>
    <div id="page-wrap" style="background-color:white; padding:50px;">
    
        <img src="{{ profile_pic }}" alt="Photo of Cthulu" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats!!! -->
         <!-- --------------------------------------------------------------------------------------------------- -->
            
        {% for personalinfo in personalinfos %}
        
            <h1 class="fn">{{ personalinfo.getName() }} 
                <span class="buttoncontainer">
                    <button class="animatedbutton" id="edbutton" type="button" onClick="MyWindow=window.open(' {{path('personalinfo_edit', {id: personalinfo.getId() })}} ','popup','width=600,height=600'); return false;"><span>Edit</span></button>
                </span>
            </h1> 
        
            <p>
                Cell: <span class="tel">{{ personalinfo.getPhone() }}</span><br />
                Email: <a class="email" href="mailto:{{ personalinfo.getEmail() }}">{{ personalinfo.getEmail() }}</a>
            </p>
        </div>
                
        <div id="objective">
            <p>{{ personalinfo.getPresentation() }}</p>
        </div>
        
        {% endfor %}
        
        <div class="clear"></div>
        
        <div id="buttons" style="position:absolute; height:50%; width:50px; align:right;"></div>
        
        <dl>
            <dd class="clear"></dd>
        
        <!-- --------------------------------------------------------------------------------------------------- -->
            
            <dt>Education 
            <br/> 
                <span class="buttoncontainer">
                    <button class="animatedbutton" id="newbutton" type="button" onClick="MyWindow=window.open(' {{path('formation_new')}} ','popup','width=600,height=600'); return false;"><span>New</span></button>
                </span>
            </dt>
            {% for formation in formations %}
                <dd>
                    <h2>{{ formation.getName() }} - {{ formation.getEtablissement }} - {{ formation.getLieu() }}</h2> 
                    <p>{{ formation.getDescription() }}</p>
                        <div class="buttoncontainer">
                            <button class="animatedbutton" id="edbutton" type="button" onClick="MyWindow=window.open(' {{path('formation_edit', {id: formation.getId() })}} ','popup','width=600,height=600'); return false;"><span>Edit</span></button>
                            <button id="delbutton" type="button" onClick="MyWindow=window.open(' {{path('formation_delete', {id: formation.getId() })}} ','popup','width=600,height=600'); return false;"><span>Delete</span></button>
                        </div>
                </dd>
            {% endfor %}
            
            <dd class="clear"></dd>
            
            <!-- --------------------------------------------------------------------------------------------------- -->
            
            <dt>Skills
            <br/> 
                <span class="buttoncontainer">
                    <button class="animatedbutton" id="newbutton" type="button" onClick="MyWindow=window.open(' {{path('competence_new')}} ','popup','width=600,height=600'); return false;"><span>New</span></button>
                </span>
            </dt>
            {% for competence in competences %}
            <dd>
                <h2>{{ competence.getCompetence() }}</h2>
                <p>{{ competence.getDescription() }}</p>
                    <div class="buttoncontainer">
                        <button class="animatedbutton" id="edbutton" type="button" onClick="MyWindow=window.open(' {{path('competence_edit', {id: competence.getId() })}} ','popup','width=600,height=600'); return false;"><span>Edit</span></button>
                        <button id="delbutton" type="button" onClick="MyWindow=window.open(' {{path('competence_delete', {id: competence.getId() })}} ','popup','width=600,height=600'); return false;"><span>Delete</span></button>
                    </div>
            </dd>
            {% endfor %}
            
            <dd class="clear"></dd>
            
            <!-- --------------------------------------------------------------------------------------------------- -->
            
            <dt>Experience
            <br/> 
                <span class="buttoncontainer">
                    <button class="animatedbutton" id="newbutton" type="button" onClick="MyWindow=window.open(' {{path('experience_new')}} ','popup','width=600,height=600'); return false;"><span>New</span></button>
                </span>
            </dt>
            <dd>
                {% for experience in experiences %}
                <h2>{{ experience.getEtablissement() }}<span>{{ experience.getPoste() }} - {{ experience.getLieu() }} - {{ experience.getDateDebut|date("m/d/Y") }} - {{ experience.getDateFin|date("m/d/Y") }}</span></h2>
                <p>{{ experience.getDescription() }}</p>
                    <div class="buttoncontainer">
                        <button class="animatedbutton" id="edbutton" type="button" onClick="MyWindow=window.open(' {{path('experience_edit', {id: experience.getId() })}} ','popup','width=600,height=600'); return false;"><span>Edit</span></button>
                        <button id="delbutton" type="button" onClick="MyWindow=window.open(' {{path('experience_delete', {id: experience.getId() })}} ','popup','width=600,height=600'); return false;"><span>Delete</span></button>
                    </div>
                {% endfor %}
            </dd>
            
            <dd class="clear"></dd>
            
            <!-- --------------------------------------------------------------------------------------------------- -->
            
            <dt>Hobbies
            <br/> 
                <span class="buttoncontainer">
                    <button class="animatedbutton" id="newbutton" type="button" onClick="MyWindow=window.open(' {{path('loisir_new')}} ','popup','width=600,height=600'); return false;"><span>New</span></button>
                </span>
            </dt>
            
            {% for loisir in loisirs %}
            <dd>
                {{ loisir.getLoisir() }} : {{ loisir.getDescriptionLoisir() }}
                <div class="buttoncontainer">
                    <button class="animatedbutton" id="edbutton" type="button" onClick="MyWindow=window.open(' {{path('loisir_edit', {id: loisir.getId() })}} ','popup','width=600,height=600'); return false;"><span>Edit</span></button>
                    <button id="delbutton" type="button" onClick="MyWindow=window.open(' {{path('loisir_delete', {id: loisir.getId() })}} ','popup','width=600,height=600'); return false;"><span>Delete</span></button>
                </div>
            
            </dd>
            
            {% endfor %}
            
            <dd class="clear"></dd>
            
            <dt>References
            </dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>