<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>One Page Resume</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('cthulhu.css') }}">
</head>

<body>
    <div class="bg"></div>
    <div id="page-wrap" style="background-color:white; padding:50px;">
    
        <img src="{{ profile_pic }}" alt="Photo of Cthulu" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">{{ name }}</h1>
        
            <p>
                Cell: <span class="tel">555-666-7777</span><br />
                Email: <a class="email" href="mailto:greatoldone@lovecraft.com">greatoldone@lovecraft.com</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and energetic! (ask anybody) young professional, seeking a 
                career that fits my professional skills, personality, and murderous tendencies. 
                My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
                I can bring world domination to your organization. 
            </p>
        </div>
        
        <div class="clear"></div>
        
        <div id="buttons" style="position:absolute; height:50%; width:50px; align:right;"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education 
                <br/> 
                    <span class="buttoncontainer">
                        <button class="animatedbutton" id="newbutton" type="button" onclick="window.location.href=' {{path('formation_new')}} '"><span>New</span></button>
                    </span>
            </dt>
            <dd>
                <h2>Withering Madness University - Planet Vhoorl</h2> 
                <p><strong>Major:</strong> Public Relations<br /> 
                   <strong>Minor:</strong> Scale Tending</p>
                        <dd class="buttoncontainer">
                           <button class="animatedbutton" id="edbutton" type="button" onclick="window.location.href='  '"><span>Edit</span></button>
                           <button id="delbutton" type="button" onclick="window.location.href=''"><span>Delete</span></button>
                        </dd>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills
            <br/> 
                    <span class="buttoncontainer">
                        <button class="animatedbutton" id="newbutton" type="button" onclick="window.location.href=' {{path('competences_new')}} '"><span>New</span></button>
                    </span>
            </dt>
            <dd>
                <h2>Office skills</h2>
                <p>Office and records management, database administration, event organization, customer support, travel coordination</p>
                
                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience
            <br/> 
                    <span class="buttoncontainer">
                        <button class="animatedbutton" id="newbutton" type="button" onclick="window.location.href=' {{path('experience_new')}} '"><span>New</span></button>
                    </span>
            </dt>
            <dd>
                <h2>Doomsday Cult <span>Leader/Overlord - Baton Rogue, LA - 1926-2010</span></h2>
                <ul>
                    <li>Inspired and won highest peasant death competition among servants</li>
                    <li>Helped coordinate managers to grow cult following</li>
                    <li>Provided untimely deaths to all who opposed</li>
                </ul>
                
                <h2>The Watering Hole <span>Bartender/Server - Milwaukee, WI - 2009</span></h2>
                <ul>
                    <li>Worked on grass-roots promotional campaigns</li>
                    <li>Reduced theft and property damage percentages</li>
                    <li>Janitorial work, Laundry</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Hobbies
            <br/> 
                    <span class="buttoncontainer">
                        <button class="animatedbutton" id="newbutton" type="button" onclick="window.location.href=' {{path('loisir_new')}} '"><span>New</span></button>
                    </span>
            </dt>
            <dd>World Domination</dd>
            <dd>Deep Sea Diving</dd>
            <dd>Murder Most Foul</dd>
            
            <dd class="clear"></dd>
            
            <dt>References
            <br/> 
                    <span class="buttoncontainer">
                        <button class="animatedbutton" id="newbutton" type="button" onclick="window.location.href=''"><span>New</span></button>
                    </span>
            </dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>